<div class="container">
    <div class="title">
        <h1>Construção e Descrição do Projeto:</h1>
    </div>
    <div class="description">
        <p>Projeto realizado com o intuito de realizar um CRUD básico, para testar os conhecimentos do framework de Front End
            Angular, colocando os principais conceitos e funcionalidades aprendidas até aqui. Para os dados fornecidos, vieram provenientes
            da nossa API local, criada com a lib do json-server. <br>O sistema de cadastro possui os seguintes campos:
        </p>
        <ul>
            <li>Id</li>
            <li>Nome do Funcionário</li>
            <li>Cargo</li>
            <li>Idade</li>
        </ul>
    </div>
</div>